<nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
    <div class="container-fluid" style="padding:0;">
        <a class="navbar-brand" id="nav-brand" href="/">Stream Tutorials</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" style="margin-bottom: 5px;">
                    <form action= <%= "/login/"+ view %> method="get">
                        <button type="submit" class="btn btn-outline-light">Login</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action= <%= "/register/"+ view %> method="get">
                        <button type="submit" class="btn btn-light">Register</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>