<p style="text-align: center;" id="p-feedback-link">
  You want to inform us of something? Here is our
  <a style="text-decoration: none;" target="_blank" rel="noopener noreferrer" href="/feedback">feedback portal</a>
</p>


<footer id="footer">
    <div class="socials">
      <a class="socials-link"target="_blank" rel="noopener noreferrer" href="https://zineddinebtc.github.io/my-portfolio">Portfolio</a>
      <a class="socials-link" href="mailto:zineddine.bettouche.inbox@gmail.com">Gmail</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/zineddine.bettouche">Facebook</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/ZineddineBtc">Twitter</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/zneddine-bettouche">LinkedIn</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.github.com/ZineddineBtc">GitHub</a>
      <a class="socials-link" target="_blank" rel="noopener noreferrer" href="https://www.github.com/ZineddineBtc/Stream-Tutorials">Source Code</a>
    </div>
    <p id="copyright">© Copyright 2021 Zineddine Bettouche</p>
</footer>